.clock-wrapper {
  width: 80px;
  height: 100%;
  /* background-color: red; */
  display: flex;
  direction: ltr;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.clock-box {
  width: 20px;
  height: 20px;
  line-height: 22px;
  /* background-color: #f2f2f2; */
  /* -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; */
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.clock-box span {
  background-color: #fdd835;
  border-radius: 7px;
  margin: 0 2px;
  width: 29px;
  height: 35px;
}
.notstarted .clock-box span {
  background-color: #fff;
  border-radius: 7px;
  margin: 0 2px;
  width: 29px;
  height: 35px;
  font-size: 19px;
}
